rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Project does not currently use Firestore from clients.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
